.App-header {
    text-align: center;
    background-color: mistyrose;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.container {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}